doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="../styles/details.css")
        script(src="https://kit.fontawesome.com/cb7794a450.js" crossorigin="anonymous")
        title Library 
    body 
        h1(id="main_screen_headline") Домашняя библиотека
            i(class="fa-solid fa-book")
        h2(id="details_headline") Подробности о книге

        -
            var booklist = []
            var book = { label: "Война и мир", author: "Лев Николаевич Толстой", release: "1865-02-01", image: "https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/%D0%A2%D0%BE%D0%BB%D1%81%D1%82%D0%BE%D0%B9_%D0%9B._%D0%9D._%D0%92%D0%BE%D0%B9%D0%BD%D0%B0_%D0%B8_%D0%BC%D0%B8%D1%80%2C_%D0%A2._1._%D0%9E%D0%B1%D0%BB%D0%BE%D0%B6%D0%BA%D0%B0_%D0%B8%D0%B7%D0%B4.1912%D0%B3%2C%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D1%8F.jpg/220px-%D0%A2%D0%BE%D0%BB%D1%81%D1%82%D0%BE%D0%B9_%D0%9B._%D0%9D._%D0%92%D0%BE%D0%B9%D0%BD%D0%B0_%D0%B8_%D0%BC%D0%B8%D1%80%2C_%D0%A2._1._%D0%9E%D0%B1%D0%BB%D0%BE%D0%B6%D0%BA%D0%B0_%D0%B8%D0%B7%D0%B4.1912%D0%B3%2C%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D1%8F.jpg", status: 2, client: "Mike", due: "10.09.2022", description:"lorem lorema ipsuma" }

        section(id="details_section")
            img(alt="" id="details_book_picture" src=book.image)
            div(id="details_text_section")
                div 
                    p Название книги:
                    input(type="text" id="details_book_name" placeholder="Название книги" value=book.label)
                
                div 
                    p Автор книги:
                    input(type="text" id="details_book_author" placeholder="Автор книги" value=book.author)
                
                div 
                    p Дата издания:
                    input(type="date" id="details_book_release_date" placeholder="Дата выпуска" value=book.release)
                
                div
                    p Описание:
                    textarea(id="details_book_description") #{book.description}

                div 
                    p Ссылка на изображение книги:
                    input(type="text" id="details_book_img_url" placeholder="Ссылка на изображение книги" value=book.image)
                
                div 
                    p Статус книги:
                    - let str = ''
                    - if(book.status === 1) {str = "В наличии"} else { str = `Пребывает у клиента ${book.client} до ${book.due}`}
                    input(type="text" id="details_book_status" value=str disabled placeholder="Статус книги")

        section(id="details_control_section") 
            button(id="details_save_book") Сохранить данные о книге
            button(id="details_return_book") Вернуть книгу в библиотеку
            button(id="details_remove_book") Удалить книгу из библиотеки