doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="../styles/details.css")
        script(src="https://kit.fontawesome.com/cb7794a450.js" crossorigin="anonymous")
        title Library 
    body 
        h1(id="details_screen_headline") Домашняя библиотека
            i(class="fa-solid fa-book")
        h2(id="details_headline") Подробности о книге

        - var book = value || {release: "", due: ""}

        section(id="details_section")
            img(alt="" id="details_book_picture" src=book.image)
            div(id="details_text_section")
                section(id="details_control_section") 
                    button(id="details_save_book" style="display: none; color: #2ecc71;")
                        i(class="fa-regular fa-floppy-disk") 
                    button(id="details_edit_book")
                        i(class="fa-solid fa-pen-to-square")
                    button(id="details_borrow_book") 
                        i(class="fa-regular fa-user")
                    button(id="details_return_book") 
                        i(class="fa-solid fa-house-user")
                    button(id="details_remove_book" style="color: #e74c3c;") 
                        i(class="fa-solid fa-trash")
                div 
                    p Название книги:
                    p(class="details_phantom_paragraphs") #{book.label}
                    input(type="text" id="details_book_name" style="display:none;" placeholder="Название книги" value=book.label)
                
                div 
                    p Автор книги:
                    p(class="details_phantom_paragraphs") #{book.author}
                    input(type="text" id="details_book_author" style="display:none;" placeholder="Автор книги" value=book.author)
                
                div 
                    p Дата издания:
                    - var releaseArray = book.release.split('-')
                    p(class="details_phantom_paragraphs") #{`${releaseArray[2]}/${releaseArray[1]}/${releaseArray[0]}`}
                    input(type="date" id="details_book_release_date" style="display:none;" placeholder="Дата выпуска" value=book.release)
                
                div
                    p Описание:
                    p(class="details_phantom_paragraphs") #{book.description}
                    textarea(id="details_book_description" style="display:none;") #{book.description}

                div 
                    p Ссылка на изображение книги:
                    a(href=book.image class="details_phantom_paragraphs") Link
                    input(type="text" id="details_book_img_url" style="display:none;" placeholder="Ссылка на изображение книги" value=book.image)
                
                div 
                    p Статус книги:
                    - let str = ''
                    - let b = book.due.split('-')
                    - if(book.status === 1) {str = "В наличии"} else { str = `Пребывает у клиента ${book.client} до ${b[2]}/${b[1]}/${b[0]}`}
                    p(class="details_phantom_paragraphs") #{str}
                    input(type="text" style="display:none;" id="details_book_status" value=str disabled placeholder="Статус книги")

        dialog(id="borrow_to_client")
            form(method="dialog")
                p Введите данные клиента:
                label Имя клиента:
                    input(type="text" id="borrow_client" required)
                label Дата возврата:
                    input(type="date" id="borrow_due" required)
                button(id="borrow_book") Отдать книгу

        script(src="../scripts/details.js" type="module")
        script(src="../scripts/client.js" type="module") 