doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="../styles/index.css")
        script(src="https://kit.fontawesome.com/cb7794a450.js" crossorigin="anonymous")
        title Library 
    body 
        h1(id="main_screen_headline") Домашняя библиотека
            i(class="fa-solid fa-book")

        section(id="filter_section")
            h3 Фильтр:

            label(for="filter_radio_0") Все
                input(type="radio" name="filter_radio" id="filter_radio_0" checked)
            label(for="filter_radio_1") В наличии
                input(input type="radio" name="filter_radio" id="filter_radio_1")
            label(for="filter_radio_2") Пребывает у клиента
                input(type="radio" name="filter_radio" id="filter_radio_2")
            label(for="filter_radio_3") Возврат просрочен
                input(type="radio" name="filter_radio" id="filter_radio_3")

            button(id="filter_btn") Отфильтровать
                i(class="fa-solid fa-sliders")

        main(id="booklist_section")
            div(id="booklist_headline")
                h3 Список книг
                div(id="booklist_headline_divider")
            
            - const booklist = value
            
            ul(id="booklist")
                each item in booklist
                    li(class="book_card" id=`book_id#${item.id}`)
                        img(class="book_img" src=item.image alt="")
                        p(class="book_label") #{item.label}
                        p(class="book_author") #{item.author}
                        - let str = ''
                        - if(item.status === 1) {str = "В наличии"} else { str = `Пребывает у клиента ${item.client} до ${item.due}`}
                        p(class=`book_status book_status_${item.status}`) #{str}

                li(id="add_new_book")
                    i(class="fa-solid fa-plus")

        script(src="../scripts/index.js" type="module")
        script(src="../scripts/client.js" type="module") 